head

  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")
  meta(property="og:site_name", content="Bestival Live")
  meta(property="fb:app_id", content="622320844479268")
  meta(property="og:title", content="Bestival Live")
  meta(property="og:description", content="Sunday Best presents Bestival. 5, 6, 7, 8 September 2013. Robin Hill Country Park, Isle of Wight, Curated by Josie + Rob da Bank.")
  meta(property="og:type", content="website")


  link(rel='shortcut icon',type='image/png',href='')

  meta(name="twitter:site", value="@Bestival")
  meta(name="twitter:creator", value="@synthmedia")

  meta(name="author", content="Bestival Live")
  meta(name="description", content="Sunday Best presents Bestival. 5, 6, 7, 8 September 2013. Robin Hill Country Park, Isle of Wight, Curated by Josie + Rob da Bank.")

  // script(type="text/javascript",src="//use.typekit.net/kez7bcc.js")
  script(src="js/libs/modernizr.custom.js")

  script(type="text/javascript")
    try{Typekit.load();}catch(e){}

  link(rel="stylesheet", href='/css/main.css')
  link(rel="stylesheet", href='/css/menu.css')
  link(rel="stylesheet", href='/js/libs/ng-ckeditor.css')

  block stylesheets