//- nav.nav-wrapper(data-ng-controller="NavCtrl")
//-   .left
//-     a(href="", data-ng-click="showHashtags()").btn.btn-white.pick-date Hashtags
//-     a(href="/new-feed").btn.btn-white.pick-date New Feed
//-     //- a(href="/users", ng-show="adminUser").btn.btn-white Users
//-     div(users-link)
//-   .middle
//-     a(href="/")
//-       .whole-tag
//-         span.hashtag hashtag
//-   .right
//-     a(href="", data-ng-click="logout()").btn.btn-white.logout logout

div(navigation)
