include ../inc/nav

div.container
  h3 {{day.friendlyDate}}
  form
    label Title
      input(type="text",ng-model="day.title")
    label Video
      input(type="radio", name="type", ng-model="day.type", value="video")
    label Competition
      input(type="radio", name="type", ng-model="day.type",value="competition")
    label Download Link
      input(type="radio", name="type", ng-model="day.type", value="download")

    div(ng-switch="day.type")
      div(ng-switch-when="video")
        label Embed Code
        input(type="text", ng-model="day.body")
      div(ng-switch-when="competition")
        label Competition Form
        input(type="text", ng-model="day.body")
      div(ng-switch-when="download")
        label Embedable links can be added in editor
        
    textarea(ckeditor="editorOptions", ng-model="day.description")

    button(ng-click="save()") Save