include ../inc/nav

div.container
  a(ng-show="admin", href="/cms/{{ day.permalink }}") Edit
  h3 {{ day.friendlyDate }}
  h2 {{ day.title }}
  h2 {{ day.type }}
  //- div {{ day.description }}
  div(ng-bind-html-unsafe="day.description")
  div(ng-switch="day.type")
    embedvideo( ng-switch-when="video", value="{{day.body}}")
    embedvideo( ng-switch-when="competition", value="{{day.body}}")
    //- div(ng-switch-when="video")
    div(ng-switch-when="competition")


  div(id="fb-root")
  script
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1425764387652251";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  //-   div
  //- {{day.title}}
  //- iframe(type="text/html", src="{{video}}",width="400px",height="300px")