p new list

form.new-list-form(ng-submit="createList()", name="createFeedForm")
  label.controls Blog
    input(type="text", data-ng-model="title", placeholder="Name", name="username", required, autofocus)
  label.controls Title
    input(type="text", data-ng-model="title", placeholder="Title", name="username", required, autofocus)
  label.controls Link
    input(type="text", data-ng-model="title", placeholder="Name", name="username", required, autofocus)
  label.controls Description
    input(type="text", data-ng-model="title", placeholder="Name", name="username", autofocus)
